@import "tailwindcss";

@layer base {
  html {
    background-color: black;
    color: aliceblue;
    scrollbar-gutter: stable;
    overflow-y: scroll;
  }
  body {
    margin: 0;
    padding: 0;
  }
}
